{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-info" role="alert">
  個別投稿
</div>
{% endblock header %}

{% block content %}
<div class ='container'>
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{object.title}}</p>
    <p>投稿者:{{object.auther}}</p>
    <p>内容:{{object.content}}</p>
    <!-- object.images.urlで画像がとれる-->
    <p><img src='{{object.images.url}}' width=200></p>
    <a href="{% url 'good' object.pk %}"><button type="button" class="btn btn-primary">いいねする</button></a>
    <a href="{% url 'read' object.pk %}"><button type="button" class="btn btn-warning">既読にする</button></a>
  </div>
</div>
{% endblock content %}
